// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.answer {
  border: solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.answer div{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.answer a{
  display: block;
}
.answer p{
  margin: 0px;
}
.answer {
  .comments{
    display: block;
  }
}
